.circle-menu-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.circle-menu-image {
  height: 200px;
  width: 200px;
  position: relative;
}

.circle-menu-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.circle-menu {
  position: absolute;
  top: 65px;
  left: 30px;
  transform: translate(-50%, -50%);
  animation: rotateMenu 10s linear infinite;
}

@keyframes rotateMenu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 80px;
  border-radius: 50%;
  background-image: url("/assets/splash/button.png");
  background-size: cover !important;
  color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }

  &:nth-child(1) {
    transform: rotate(-42deg) translate(13rem) rotate(42deg);
  }

  &:nth-child(2) {
    transform: rotate(-10deg) translate(13rem) rotate(10deg);
  }

  &:nth-child(3) {
    transform: rotate(20deg) translate(13rem) rotate(-20deg);
  }

  &:nth-child(4) {
    transform: rotate(50deg) translate(13rem) rotate(-50deg);
  }

  &:nth-child(5) {
    transform: rotate(95deg) translate(13rem) rotate(-95deg);
  }

  &:nth-child(6) {
    transform: rotate(137deg) translate(13rem) rotate(-137deg);
  }

  &:nth-child(7) {
    transform: rotate(167deg) translate(13rem) rotate(-167deg);
  }

  &:nth-child(8) {
    transform: rotate(196deg) translate(13rem) rotate(-196deg);
  }

  &:nth-child(9) {
    transform: rotate(230deg) translate(13rem) rotate(-230deg);
  }

  &:nth-child(10) {
    transform: rotate(275deg) translate(13rem) rotate(-275deg);
  }
}

.circle-menu-item span {
  width: 80%;
  text-align: center;
}
.circle-menu-item a {
  text-decoration: none;
  color: #fff;
  width: 80%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .circle-menu-main {
    padding-top: 0px;
  }
  .circle-menu-image {
    height: 150px;
    width: 150px;
    position: relative;
  }

  .circle-menu {
    position: absolute;
    top: 55px;
    left: 22px;
    transform: translate(-50%, -50%);
    /* animation: rotateMenu 10s linear infinite; */
  }

  .circle-menu-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 60px;
    border-radius: 50%;
    background-image: url("/assets/splash/button.png");
    background-size: cover !important;
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }

    &:nth-child(1) {
      transform: rotate(-42deg) translate(8.5rem) rotate(42deg);
    }

    &:nth-child(2) {
      transform: rotate(-10deg) translate(8.5rem) rotate(10deg);
    }

    &:nth-child(3) {
      transform: rotate(20deg) translate(8.5rem) rotate(-20deg);
    }

    &:nth-child(4) {
      transform: rotate(50deg) translate(8.5rem) rotate(-50deg);
    }

    &:nth-child(5) {
      transform: rotate(95deg) translate(8.5rem) rotate(-95deg);
    }

    &:nth-child(6) {
      transform: rotate(137deg) translate(8.5rem) rotate(-137deg);
    }

    &:nth-child(7) {
      transform: rotate(167deg) translate(8.5rem) rotate(-167deg);
    }

    &:nth-child(8) {
      transform: rotate(197deg) translate(8.5rem) rotate(-197deg);
    }

    &:nth-child(9) {
      transform: rotate(230deg) translate(8.5rem) rotate(-230deg);
    }

    &:nth-child(10) {
      transform: rotate(275deg) translate(8.5rem) rotate(-275deg);
    }
  }

  .circle-menu-item span {
    font-size: 12px;
  }
}
