.page-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.page-heading .heading-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.page-heading .heading-img-container {
  height: 45px;
  width: 45px;
  background: #3f4178;
  border-radius: 50%;
  padding: 10px;
}
.page-heading .heading-img-container img {
  height: 100%;
  width: 100%;
  border: inherit;
}
