.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  border-bottom: 1px solid #d3d3d3;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  margin: 0;
}
.notification-count{
  position: absolute;
  top: -15px;
  right: -8px;
  background: red;
  height: 25px ;
  width: 25px;
  color: #fff;
  border-radius: 9999px;
  display: grid;
  place-content: center;
}
.header-main::before {
  padding-top: 100px;
}

.menu-bar {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  margin-left: 5px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header-main .search_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  gap: 8px;
}
.header-search-box {
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 90%;
  border: 1px solid #d3d3d3;
}

.header-search-box input {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  border-right: 1px solid #d3d3d3;
  padding: 6px;
}

.header-search-box svg {
  padding: 2px 2px 2px 10px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  color: #545151;
}

.header-voice-search {
  height: 50px;
  width: 50px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ededed;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-voice-search img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-right {
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-three-dot {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #bbb5b5;
  background: #fff;
  padding: 5px;
}

.header-three-dot img {
  height: 30px;
}
.header-moreOption-dot {
  cursor: pointer;
  display: flex;
  padding: 5px;
}
.header-moreOption-dot svg {
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto;
}
.header-moreOption-dot:hover {
  background: #dedede;
  border-radius: 50%;
}
.user-profile {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-profile-logo {
  width: 50px;
  height: 50px;

  border-style: 5px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  background: #fff;
}

.user-profile-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.login-user-details {
  position: absolute;
  top: 68px;
  right: 30px;
  padding: 20px 0px;
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 310px;
  z-index: 300;
}

.login-user-details svg {
  margin-right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 25px;
}

.login-user-details h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.dropdown-menu-list {
  margin: 0;
  padding: 0;
}
.dropdown-menu-list li {
  border-bottom: 1px solid #c2bdbd;
  padding: 5px 0px;
  cursor: pointer;
  list-style: none;
}

.dropdown-menu-list li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

.dropdown-menu-list .user-details {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 5px 40px;
}
.dropdown-menu-list .user-details .username p {
  font-size: 0.9rem;
}

.dropdown-menu-list .user-details .profile {
  width: 70px;
  height: 70px;
  margin: 0px 10px 10px 0px;
}

.dropdown-menu-list .user-details .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-menu-list .user-details .username h3 {
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 !important;
}

.dropdown-menu-list .user-details .username h3 p {
  color: #000;
  font-size: 13px;
}

.dropdown-menu-list .view-chanel-option {
  margin: 0px 0px;
  color: #065fd4;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  /* padding: 5px 40px; */
  /* text-align: center; */
}
.dropdown-menu-list .view-chanel-option a {
  color: rgb(18, 63, 177) !important;
}

.dropdown-menu-list li .dropdown-option {
  display: flex;
  padding: 8px 0px;
}

.dropdown-menu-list li .dropdown-option p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dropdown-menu-list li .dropdown-option svg {
  /* color: #065fd4; */
  color: rgb(18, 63, 177) !important;
}

.dropdown2-menus {
  position: absolute;
  top: 58px;
  right: 80px;
  border-radius: 15px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 220px;
}

@media screen and (max-width: 768px) {
  .header-main {
    padding: 15px 5px;
  }

  .menu-bar {
    font-size: 25px;
  }

  .logo {
    width: 150px;
    margin-left: 10px;
  }

  .header-search-box input {
    padding: 2px;
  }

  .header-voice-search {
    padding: 10px;
    margin-left: 8px;
    display: none;
  }
  .user-profile-logo {
    width: 45px;
    height: 45px;
  }

  .user-profile {
    background-color: #fff;
    margin: 0px;
  }

  .header-three-dot {
    display: none;
  }

  .login-user-details {
    position: absolute;
    top: 58px;
    right: -15px;
    padding: 20px 0px;
    border-radius: 15px;
    background: #fff;
    box-shadow: none;
    width: 100vw;
    z-index: 300;
  }
}
/* ------------------------------------------------------------------------------ */
/* Modal Style */
.channel_modal {
  overflow-y: auto;
}
.channel_modal button {
  border: none;
  background: none;
  font-weight: 500;
  padding: 10px;
}
.channel_modal .close_modal {
  font-size: 25px;
  float: right;
  color: #999;
}
.channel_modal .buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.channel_modal button:nth-child(2) {
  color: #065fd4;
}

.channel_modal .profile_container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e3dfdf;
}
.channel_modal .profile_container img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.channel_modal .choose_file {
  color: #065fd4;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.channel_modal .choose_file input {
  display: none;
}
.modal_heading {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.form {
  padding: 0px 15px 15px 15px;
  margin-top: 10px;
}
.form .inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form .inputs input {
  padding: 17px;
  width: 100%;
  color: #454242;
  font-size: 15px;
  font-weight: 500;
}

.form .inputs p {
  color: #737070;
  font-size: 14px;
  font-style: normal;
  font-weight: 00;
  line-height: normal;
}
.form .inputs p span {
  color: #065fd4;
}
.tooltip_style {
  background-color: #c8c8c8 !important;
  color: #000 !important;
  padding: 5px !important;
  font-size: 0.7rem !important;
  font-weight: 500 !important;
}

.header-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: white;
  border: 1px solid gray;
  width: calc(100% - 2px);
  max-height: 80vh;
  overflow-y: auto;
  overflow-y: inherit;
  border-radius: 0.4rem;
}

.header-search-results > div {
  padding: 8px;
}

.header-search-results a {
  display: block;
  color: black;
  text-decoration: none;
}

.header-search-results a:hover {
  background-color: #f0f0f0;
}
