.categorey-menu-main {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  margin: 0px 0px;
  display: flex;
  align-items: center;
  padding-inline: 5px;
}

.categorey-menu-main .arrow-button {
  /* width: 28.8px;
  height: 29.6px; */
  border-radius: 50%;
  padding: 8px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorey-menu-main .arrow-button svg {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
}

.categotrey-menu-list {
  /* display: flex;
  align-items: center;
  flex-wrap: nowrap; */
  /* background-color: blue; */
  margin: 5px 10px 0px;
  overflow-x: scroll;
  padding: 0px;
}

.categotrey-menu-list::-webkit-scrollbar {
  display: none;
}

.categotrey-menu-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.categorey-menu-item {
  margin: 2px 7px 2px 0px;
  padding: 5px 10px;
  width: auto;
  border-radius: 20px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #e5e5e5;
  color: #454242;
}

.categorey-menu-item:hover {
  background-color: rgb(212, 206, 206);
}

.categorey-menu-item span {
  width: 100%;
  text-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .categotrey-menu-list {
    margin: 5px 12px;
  }
}

.slick-slide {
  width: fit-content !important;
  margin-inline: 2px !important;
}
